body{
  background-color: none;
  text-align:center;
}

button{
  margin:7px;
}

footer{
  position:absolute;
  width:600px;
  height:75px;
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-300px;

}

#category{
  width:50%;
}

#categoryForm{
  margin-top: 275px;
}

#quizArea{
  margin-top: 275px;
}

#correctAnswer{
  background-color: green !important;
}

#incorrectAnswer{
  background-color: red !important;
}
 